@import "../../styles/responsive.scss";

.ourPhotography {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 20px;
  padding-bottom: 30px;

  .ourPhotography-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20%;

    @include lg {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }

    h1 {
      font-size: 50px;

      @include sm {
        font-size: 40px;
        margin-bottom: 10px;
      }
    }

    p {
      font-size: 20px;
      color: #989898;
    }
  }

  .ourPhotography-lists-mobile {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;

    @media screen and (min-width: 1025px) {
      display: none;
    }

    .ourPhotography-lists-mobile-card {
      .ourPhotography-lists-mobile-top {
        h1 {
          color: #585858;
          margin-bottom: 10px;
        }
      }

      .ourPhotography-lists-mobile-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        img {
          width: 100%;
        }
        button {
          background: $primary-color;
          color: #fff;
          padding: 12px 20px;
          font-size: 1rem;
          font-weight: bold;
          border: none;
          cursor: pointer;
          position: relative;
          transition: 0.3s ease-in-out, transform 0.2s ease,
            box-shadow 0.2s ease;
          overflow: hidden;
          text-transform: uppercase;
          border: 1px solid #fff;

          &:hover {
            background-color: #fff;
            color: $primary-color;
            transform: translateY(-5px);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
            border: 1px solid $primary-color;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 300%;
              height: 300%;
              border-radius: 50%;
              transition: 0.4s ease;
              transform: translate(-50%, -50%);
            }
          }

          &:active {
            animation: buttonBounce 0.2s ease-in-out;
          }

          @keyframes buttonBounce {
            0% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(-5px);
            }
            100% {
              transform: translateY(0);
            }
          }
        }
      }
    }
  }

  .ourPhotography-lists {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media screen and (max-width: 1025px) {
      display: none;
    }
    .ourPhotography-list {
      display: flex;
      justify-content: space-between;
      position: relative;

      .ourPhotography-list-left {
        h1 {
          font-size: 25px;
          color: #585858;

          &:last-child {
            margin-left: 80px;
            font-size: 25px;
            transition: margin-left 0.9s ease-in-out;
            cursor: pointer;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              width: 0%;
              height: 2px;
              background: #b90808;
              left: -80px;
              bottom: 13px;
              border-radius: 1px;
              transition: width 0.7s ease-in-out;
            }
          }
        }

        &:hover {
          h1 {
            &:last-child {
              color: #000;
              
            transition: all .10s ease-in-out;
            }
          }
        }
      }

      .ourPhotography-list-right {
        width: 400px;
        position: absolute;
        right: 0px;
        top: -150%;

        img {
          width: 100%;
          opacity: 0;
          transition: all 1s ease-in-out;
        }

        .ourPhotography-list-right-btn {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          background-color: #b90808;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease-in-out;
          position: absolute;
          bottom: -29px;
          left: -44px;
          cursor: pointer;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          transition: all 1s ease-in-out;


          &:hover {
            background-color: #fff;
            color: #b90808;
            span {
              color: #b90808;
            }
          }

          span {
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      // Apply hover styles for the active list
      &.active {
        .ourPhotography-list-left {
          h1:last-child {
            margin-left: 100px;
            transition: margin-left 0.3s ease-in-out;

            &::before {
              width: 17%;
            }
          }
        }

        .ourPhotography-list-right {
          img {
            opacity: 1;
          }

          .ourPhotography-list-right-btn {
            opacity: 1;
          }
        }
      }
    }
  }
}
