@import "../../styles/responsive.scss";

.about {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background: #fff;
  color: #000;
  position: relative;
  overflow: hidden;

  .core-option {
    padding: 0px 20px;
  }

  .about-client{
    margin-bottom: 60px;
  }

  @include sm {
  }

  .top-banner {
    padding: 100px 30px 0px 30px;

    @include md {
      padding: 100px 10px 0px 10px;
    }

    .about-banner {
      background-image: url("../../assets/images/bg16.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      height: 500px;
      position: relative;

      @include md {
        height: 300px;
      }

      .about-banner-desc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 100%;

        @include lg {
          width: 90%;
        }

        h1 {
          text-align: center;
          font-size: 60px;
          color: #fff;
          position: relative;

          @include md {
            font-size: 50px;
          }

          @include sm {
            font-size: 40px;
          }

          @include lg {
            &::before {
              display: none;
            }

            &::after {
              display: none;
            }
          }

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 400px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.3);
            transform: translateY(-50%);
          }

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0; // Align to the left of the parent element
            width: 400px;
            height: 1px;
            background-color: rgba(
              255,
              255,
              255,
              0.3
            ); // Ensure RGBA value is correct
            transform: translateY(-50%); // Adjust vertical positioning
          }
        }
      }
    }
  }

  .about-content-title {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include md {
      padding: 0px 10px;
    }

    p {
      text-align: center;
      font-size: 22px;
      padding: 0px 40px;
      color: #000;

      @include md {
        padding: 0px 10px;
        text-align: justify;
      }

      &:nth-child(3) {
        color: #585858;
      }
    }
    img {
      width: 100%;
      height: 500px;
      object-fit: cover;

      @include md {
        height: 300px;
      }
    }
  }

  .about-big-img {
    // max-width: 1200px;
    margin: 0 auto;
    z-index: 10;
    padding: 0px 30px;

    @include md {
      padding: 0px 10px;
    }

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-style: none;

      @include md {
        width: 100%;
      }

      @include md {
        width: 100%;
      }
    }
  }

  .about-overlay {
    position: absolute;
    z-index: 1;
    top: 30%;
    img {
      object-fit: cover;
    }
  }

  .about-content {
    display: flex;
    gap: 60px;
    max-width: 1500px;
    margin: 0 auto;
    z-index: 10;
    padding: 0px 30px;

    @include xl {
      padding: 0px 20px;
      gap: 15px;
    }

    @include lg {
      flex-direction: column;
      padding: 0px 10px;
    }

    .about-content-left {
      flex: 7;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include lg {
        flex: 0;
      }

      .about-content-left-top {
        display: flex;
        gap: 60px;

        @include xl {
          gap: 15px;
        }

        @include lg {
          align-items: center;
        }

        @include md {
          flex-direction: column;
        }

        img {
          width: 100%;
          height: 400px;
          object-fit: cover;

          @include lg {
            object-fit: contain;
          }
        }

        .about-content-left-top-right {
          h1 {
            font-size: 50px;

            @include sm {
              text-align: center;
            }
          }

          p {
            font-size: 20px;
            text-align: justify;
            margin-top: 20px;
            color: #585858;

            @include xl {
              margin-top: 0;
            }

            @include lg {
              margin-top: 20px;
            }

            .bold-text {
              color: #000;
            }
          }
        }
      }

      .about-content-left-bottom {
        display: flex;
        gap: 60px;

        @include lg {
          flex-direction: column;
          gap: 10px;
          margin-top: 30px;
        }
        .about-content-left-content {
          .about-content-left-content-top {
            display: flex;
            align-items: center;

            h1 {
              font-size: 50px;

              @include lg {
                font-size: 50px;
              }

              @include sm {
                font-size: 45px;
              }
            }

            p {
              font-size: 20px;
              margin-left: 10px;
              color: #585858;
              text-transform: uppercase;

              @include lg {
                font-size: 22px;
              }

              @include sm{
                font-size: 16px;
              }
            }
          }

          .about-content-left-bottom-line {
            background-color: $primary-color;
            height: 4px;
            border: none;
            border-radius: 2px;
            width: 60px;
          }
        }
      }
    }

    .about-content-right {
      flex: 3;
      @include lg {
        display: none;
        flex: 0;
      }
      img {
        width: 100%;
      }
    }
  }
  .about-content2 {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;

    .about-content2-img {
      width: 100%;
      img {
        width: 100%;
        height: 800px;
        object-fit: cover;
      }
    }

    .about-content2-desc {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      max-width: 1200px;
      padding: 20px;

      @include md {
        width: 100%;
        padding: 0px 10px;
      }

      h1 {
        font-size: 60px;
        margin-bottom: 20px;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 40px;

        @include md {
          font-size: 50px;
        }

        @include sm {
          font-size: 40px;
        }
      }

      .about-content2-lists {
        width: 60%;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 40px;
        height: auto;

        @include lg {
          width: 100%;
        }
        @include md {
          gap: 10px;
          width: 100%;
        }

        .about-content2-list {
          transition: transform 5s ease-in-out;

          .about-content2-list-top {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            border-bottom: 2px solid #fff;
            transition: all 6s ease-in-out;
            padding-bottom: 10px;
            transition: color 0.3s ease-in-out;

            h3 {
              font-size: 25px;
              transition: color 0.3s ease-in-out;
            }

            .about-content2-icon {
              transition: transform 0.3s ease-in-out;
            }

            &.active {
              border-bottom: 2px solid $primary-color;

              h3 {
                color: $primary-color;
              }

              .about-content2-icon {
                color: $primary-color;
              }
            }
          }

          .about-content2-desc-text {
            color: #dddddd;
            margin-top: 10px;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transform: translateY(-10px);
            transition: max-height 0.9s ease-in-out, opacity 0.9s ease-in-out,
              transform 0.9s ease-in-out;
            font-size: 20px;
          }

          .about-content2-desc-text.open {
            max-height: 500px;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      .experience {
        margin-top: 100px;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 20px;

        .experience-circle {
          background: $primary-color;
          height: 100px;
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          h4 {
            font-size: 40px;
          }
        }

        h2 {
        }
      }
    }
  }

  .about-content3 {
    position: relative;
    overflow: hidden;
    height: 200px;
    display: flex;
    align-items: center;

    .scrolling-container {
      display: flex;
      animation: scroll 20s linear infinite;

      .scrolling-content {
        display: flex;
        gap: 50px;
        white-space: nowrap;
        align-items: center;

        h1 {
          text-transform: uppercase;
          font-size: 100px;

          &:last-child {
            margin-right: 50px;
          }
        }
      }

      @keyframes scroll {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-50%);
        }
      }
    }
  }

  .about-content4 {
    margin: 0 auto;
    position: relative;
    width: 100%;
   
  }
}
