@import "../../styles/responsive.scss";

.about {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background: #fff;
  color: #000;

  @include sm {
  }

  .about-banner {
    background-image: url("../../assets/images/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.548);
    }

    .about-banner-desc {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      @include lg {
        width: 90%;
      }

      h1 {
        text-align: center;
        font-size: 60px;
        color: #fff;

        @include md {
          font-size: 50px;
        }

        @include sm {
          font-size: 40px;
        }

        &:last-child {
          .line-break {
            color: #ffa500;
          }
        }
      }
    }
  }

  .about-big-img {
    max-width: 1200px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  .about-content {
    display: flex;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;

    @include xl {
      padding: 0px 20px;
      gap: 15px;
    }

    @include lg {
      flex-direction: column;
      padding: 0px 20px;
    }

    .about-content-left {
      flex: 7;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include lg {
        flex: 0;
      }

      .about-content-left-top {
        display: flex;
        gap: 60px;

        @include xl {
          gap: 15px;
        }

        @include lg {
          flex-direction: column;
        }

        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }

        .about-content-left-top-right {
          h1 {
            font-size: 50px;
            .line-break {
            }
          }

          p {
            font-size: 20px;
            text-align: justify;
            margin-top: 30px;
          }
        }
      }

      .about-content-left-bottom {
        display: flex;
        gap: 60px;

        @include lg {
          flex-direction: column;
          gap: 10px;
          margin-top: 30px;
        }
        .about-content-left-content {
          .about-content-left-content-top {
            display: flex;
            align-items: center;

            h1 {
              font-size: 50px;

              @include lg {
                font-size: 50px;
              }

              @include sm {
                font-size: 45px;
              }
            }

            p {
              font-size: 20px;
              margin-left: 10px;
              color: #989898;
              text-transform: uppercase;

              @include lg {
                font-size: 22px;
              }
            }
          }

          .about-content-left-bottom-line {
            background-color: #b90808;
            height: 4px;
            border: none;
            border-radius: 2px;
            width: 60px;

            
          }
        }
      }
    }

    .about-content-right {
      flex: 3;
      @include lg {
        display: none;
        flex: 0;
      }
      img {
        width: 100%;
      }
    }
  }
  .about-content2 {
    position: relative;
    display: flex;
    flex-direction: column;

    .about-content2-img {
      width: 100%;
      img {
        width: 100%;
        height: 800px;
        object-fit: cover;
        filter: brightness(0.2);
      }
    }

    .about-content2-desc {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      max-width: 1200px;
      padding: 20px;

      h1 {
        font-size: 60px;
        margin-bottom: 20px;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 40px;

        @include md {
          font-size: 50px;
        }

        @include sm {
          font-size: 40px;
        }
      }

      .about-content2-lists {
        width: 60%;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 40px;
        height: auto;

        .about-content2-list {
          transition: transform 5s ease-in-out;

          .about-content2-list-top {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            border-bottom: 2px solid #fff;
            transition: all 6s ease-in-out;
            padding-bottom: 10px;
            transition: color 0.3s ease-in-out;

            h3 {
              font-size: 25px;
              transition: color 0.3s ease-in-out;
            }

            .about-content2-icon {
              transition: transform 0.3s ease-in-out;
            }

            &.active {
              border-bottom: 2px solid #b90808;

              h3 {
                color: #b90808;
              }

              .about-content2-icon {
                color: #b90808;
              }
            }
          }

          .about-content2-desc-text {
            color: #dddddd;
            margin-top: 10px;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transform: translateY(-10px);
            transition: max-height 0.9s ease-in-out, opacity 0.9s ease-in-out,
              transform 0.9s ease-in-out;
            font-size: 20px;
          }

          .about-content2-desc-text.open {
            max-height: 500px;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      .experience {
        margin-top: 100px;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 20px;

        .experience-circle {
          background: #b90808;
          height: 100px;
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          h4 {
            font-size: 40px;
          }
        }

        h2 {
        }
      }
    }
  }
}
