@import "../../styles/responsive.scss";

@import '../../styles/global.scss';

.homeBanner {
  width: 100%;
  position: relative;
  overflow: hidden;

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .slide {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .homeBanner-imgs {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: transform 1.2s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .homeBanner-desc {
      position: absolute;
    
      z-index: 10;
      color: white;
      max-width: 700px;
      padding: 20px;

      left: 35%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding-right: 30px;
      

      @include xl {
        left: 35%;
        top: 65%;
        transform: translate(-50%, -50%);
        padding-right: 30px;
      }

      @include lg {
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
        padding-right: 30px;
        width: 100%;
      }

      @include md {
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
        padding-right: 30px;
        width: 100%;

      }

      @include sm {
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        padding-right: 30px;
        width: 100%;
      }

      p {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;

        @include sm {
          font-size: 16px;
        }
      }

      h1 {
        font-size: 50px;
        font-weight: bold;
        margin: 20px 0;

        @include sm {
          font-size: 35px;
        }
      }

      h2 {
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 30px;

        @include sm {
          font-size: 16px;
        }
      }

      .homeBanner-btns {
        display: flex;
        gap: 20px;

        button {
          background: #fff;
          color: #000;
          padding: 12px 20px;
          font-size: 1rem;
          font-weight: bold;
          border: none;
          cursor: pointer;
          position: relative;
          transition: 0.3s ease-in-out, transform 0.2s ease,
            box-shadow 0.2s ease;
          overflow: hidden;

          &:last-child {
            background-color: $primary-color;
            color: #fff;

            &:hover {
              background-color: #fff;
              box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
              color: $primary-color;
            }
          }

          &:hover {
            background: #000;
            color: #fff;
            transform: translateY(-5px);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 300%;
              height: 300%;
              border-radius: 50%;
              transition: 0.4s ease;
              transform: translate(-50%, -50%);
            }
          }

          &:active {
            animation: buttonBounce 0.2s ease-in-out;
          }
        }

        @keyframes buttonBounce {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-5px);
          }
          100% {
            transform: translateY(0);
          }
        }
      }
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10px;
    z-index: 1;

    @include xl {
      bottom: 20px;
    }

    @include lg {
      bottom: 40px;
    }

    @include md{
      bottom: 40px;
    }

    @include sm {
      bottom: 40px;
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0px 10px;
  }

  .swiper-pagination {
    gap: 30px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #fff;
    opacity: 1;
    transition: 0.3s ease-in-out;

    &.swiper-pagination-bullet-active {
      background: #fff;
      border: 2px solid $primary-color;
      transform: scale(1.2);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;

    @include xxl{

      top: 100%;
    }
    
    @include xl {
      top: 99%;
    }

    @include lg {
      top: 97%;
    }

    @include md{
     top: 97%;
    }

    @include sm {
      top: 96%;
    }

   
  }

  .swiper-button-next:after {
    display: none;
  }

  .swiper-button-prev:after {
    display: none;
  }

  .swiper-button-prev {
    left: 30%;

    @include lg {
      left: 20%;
    }
  }

  .swiper-button-next {
    right: 30%;

    @include lg {
      right: 20%;
    }
  }
}