@import "../../styles/responsive.scss";
.homeBanner {
  width: 100%;
  position: relative;
  overflow: hidden;

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .slide {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .homeBanner-imgs {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: transform 1.3s ease-in-out;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.6);
        
      }
    }

    .homeBanner-desc {
      position: absolute;
      z-index: 10;
      color: white;
      max-width: 750px;
      margin: 0px 30px;
      left: 30%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding-right: 30px;

      @include xl {
        left: 33%;
      }

      @include lg {
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-right: 0px;
        margin: 0px 10px;
      }

      @include md{
        width: 100%;
        padding-right: 40px;
      }

      @include sm {
        width: 100%;
        padding-right: 10px;
      }

      h6 {
        font-size: 16px;
        font-weight: bold;
        line-height: 30px;
        display: inline-block;
        text-transform: uppercase;
        transform: translateX(100px);
        transition: all 1s ease;
      }

      h1 {
        font-size: 70px;
        line-height: 76px;
        color: #fff;
        transform: translateX(100px);
        transition: all 2.5s ease;
        font-weight: 600;
        margin: 10px 0px;

        @include md {
          font-size: 40px;
          line-height: 1.2em;
        }
      }

      p {
        font-size: 22px;
        // font-weight: 500;
        line-height: 34px;
        margin: 20px 0px 20px 0px;
        color: #fff;
        margin: 20px 0px;
        transform: translateX(100px);
        transition: all 2s ease;

        @include md {
          font-size: 16px;
          line-height: 25px;
          color: #dddddd;
        }
      }

      .homeBanner-btns {
        display: flex;
        gap: 20px;
        opacity: 0;
        transform: translateX(100px);
        transition: all 2.5s ease;

        @include sm {
          display: block;

          button {
            &:first-child {
              margin-bottom: 20px;
            }
          }
        }

        button {
          position: relative;
          width: auto;
          min-width: 190px;
          height: 50px;
          padding: 10px 35px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 15px;
          font-weight: 550;
          text-transform: capitalize;
          background: #fff;
          border-width: 0px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          -ms-border-radius: 0px;
          -o-border-radius: 0px;
          border-radius: 0px;
          letter-spacing: 0.8px;
          cursor: pointer;
          overflow: hidden;
          // -webkit-transition: var(--transition-base);
          // transition: var(--transition-base);
          display: flex;
          align-items: center;
          transition: all 0.5s ease-in-out;
          &:last-child {
            background: $primary-color;
            color: #fff;
            position: relative;
            overflow: hidden;

            &:hover {
              background: #fff;
              color: $primary-color;

              .top-left {
                border-color: #fff;
                width: calc(50% - 5px);
                height: calc(50% - 5px);
              }

              .bottom-left {
                border-color: #fff;
                width: calc(50% - 5px);
                height: calc(50% - 5px);
              }

              .top-right {
                border-color: #fff;

                width: calc(50% - 5px);
                height: calc(50% - 5px);
              }

              .bottom-right {
                border-color: #fff;

                width: calc(50% - 5px);
                height: calc(50% - 5px);
              }
            }

            .corner {
              content: "";
              position: absolute;
              width: 12px;
              height: 12px;
              border-style: solid;
              border-color: #fff;
              transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            // Top-left corner
            .top-left {
              left: 0;
              top: 0;
              border-width: 1px 0px 0px 1px;
            }

            // Top-right corner
            .top-right {
              right: 0;
              top: 0;
              border-width: 1px 1px 0px 0px;
            }

            // Bottom-left corner
            .bottom-left {
              left: 0;
              bottom: 0;
              border-width: 0px 0px 1px 1px;
            }

            // Bottom-right corner
            .bottom-right {
              right: 0;
              bottom: 0;
              border-width: 0px 1px 1px 0px;
            }
          }

          &:hover {
            &:first-child {
              background: #151515;
              color: #fff;
            }
            .arrows {
              overflow: hidden;

              .first-arrow {
                transform: translate(20px, -20px);
                transition: all 0.5s ease-in-out;
              }

              .second-arrow {
                transform: translateX(0);
                transition: all 0.5s ease-in-out;
              }
            }
          }

          .arrows {
            position: relative;
            display: inline-block;
            overflow: hidden;

            .up-arrow {
              font-size: 16px;
              font-weight: normal;
            }
          }

          .first-arrow {
            transition: all 0.5s ease-in-out;
          }

          .second-arrow {
            transition: transform 0.3s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-25px) translateY(20px); // Initial position of the second arrow
          }
        }
      }

      &.animate {
        h6,
        h1,
        p,
        .homeBanner-btns {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0px 10px;
  }

  .swiper-pagination {
    bottom: 20px;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: #fff;
      opacity: 1;
      transition: 0.3s ease-in-out;
      margin: 0px 10px;

      &.swiper-pagination-bullet-active {
        border: 2px solid $primary-color;
        transform: scale(1.2);
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 101%;
    transform: translateY(-50%);
    font-size: 18px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 500;

    @include xxl {
      top: 100%;
    }

    @include xl {
      top: 101%;
    }

    @include lg {
      top: 101%;
    }

   
    @include md {
      display: none;
    }
  }

  .swiper-button-next:after {
    display: none;
  }

  .swiper-button-prev:after {
    display: none;
  }

  .swiper-button-prev {
    left: 30%;

    @include lg {
      left: 20%;
    }
  }

  .swiper-button-next {
    right: 30%;

    @include lg {
      right: 20%;
    }
  }
}
