@import "../../styles/responsive.scss";

.ringLine {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // padding: 0px 40px;

  @include sm{
    padding: 0;
  }

  .ring-img {
    width: 50px;
    height: 50px;
  }

  .line {
    flex-grow: 1;
    height: 1px;
    background-color: $primary-color;
    border: none;
    margin-top: 10px;
  }
}
