@import "../../styles/responsive.scss";

.aboutAgency {
  max-width: 1140px;
  margin: 0 auto;
  .aboutAgency-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm {
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }

    h1 {
      font-size: 50px;
      text-transform: uppercase;
    }

    button {
      background: $primary-color;
      height: fit-content;
      color: #fff;
      padding: 12px 20px;
      font-size: 1rem;
      font-weight: bold;
      border: none;
      cursor: pointer;
      position: relative;
      transition: 0.3s ease-in-out, transform 0.2s ease, box-shadow 0.2s ease;
      overflow: hidden;
      text-transform: uppercase;
      border: 1px solid #fff;

      &:hover {
        background-color: #fff;
        color: $primary-color;
        transform: translateY(-5px);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        border: 1px solid $primary-color;


        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 300%;
          height: 300%;
          border-radius: 50%;
          transition: 0.4s ease;
          transform: translate(-50%, -50%);
        }
      }

      &:active {
        animation: buttonBounce 0.2s ease-in-out;
      }

      @keyframes buttonBounce {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-5px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }

  .aboutAgency-bottom {
    display: flex;
    gap: 80px;
    margin-top: 40px;

    @include md {
      flex-direction: column;
      gap: 20px;
    }

    .aboutAgency-bottom-left {
      position: relative;
      flex: 1;
      img {
        width: 100%;
        border-radius: 20px;
      }

      .aboutAgency-bottom-left-btn {
        margin-top: 20px;

        @media screen and (min-width: 1201px) {
          display: none;
        }

        button {
          background: $primary-color;
          height: fit-content;
          color: #fff;
          padding: 10px 15px;
          font-size: 1rem;
          font-weight: bold;
          border: none;
          cursor: pointer;
          position: relative;
          transition: 0.3s ease-in-out, transform 0.2s ease,
            box-shadow 0.2s ease;
          overflow: hidden;
          text-transform: uppercase;
      border: 1px solid #fff;

          &:hover {
            background-color: #fff;
            color: $primary-color;
            transform: translateY(-5px);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
            border: 1px solid $primary-color;


            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 300%;
              height: 300%;
              border-radius: 50%;
              transition: 0.4s ease;
              transform: translate(-50%, -50%);
            }
          }

          &:active {
            animation: buttonBounce 0.2s ease-in-out;
          }

          @keyframes buttonBounce {
            0% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(-5px);
            }
            100% {
              transform: translateY(0);
            }
          }
        }
      }

      .aboutAgency-bottom-left-desc {
        height: 170px;
        width: 170px;
        background: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        top: 67%;
        left: 83%;
        transition: all 0.4s ease-in;
        cursor: pointer;

        @include xl {
          display: none;
        }

        &:hover {
          background-color: #fff;
          span {
            color: $primary-color;
          }
        }

        span {
          color: #fff;
          font-size: 18px;
        }

        animation: bounce 8s ease-in-out infinite;
      }

      @keyframes bounce {
        0%,
        100% {
          transform: scale(1); // Normal size
        }
        30% {
          transform: scale(1.2); // Scale up
        }
        60% {
          transform: scale(0.9); // Scale down
        }
        90% {
          transform: scale(1.1); // Slight scale up
        }
      }
    }

    .aboutAgency-bottom-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2 {
        font-size: 40px;
      }

      .about-desc1 {
        font-size: 20px;
      }

      .about-desc2 {
        color: #989898;
      }
    }
  }
}
