@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Sora", serif;
}



a {
  text-decoration: none;
  color: inherit;
}

.app {
  background-color: #000;
  color: #fff;

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    &.static {
      position: relative;
    }
  } 
}
