@import url("https://fonts.cdnfonts.com/css/metropolis");
@import url("https://fonts.cdnfonts.com/css/butler");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Metropolis", sans-serif;
}

h1 {
  font-family: "Butler", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  background-color: #000;
  color: #fff;
  position: relative;

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  } 
}
