@import "../../styles/responsive.scss";

.contact {
  padding: 20px;
  padding: 100px 20px 20px 20px;


  @include sm {
    padding: 100px 10px 10px 10px;

  }

  .contact-card {
    margin-top: 20px;
  }
  .contact-map {
    width: 100%;
    margin-top: 20px;

    @include lg {
      margin-top: 40px;
    }
  }
}
