@import "../../styles/responsive.scss";

.ourService {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .ourService-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10%;

    @include md {
      flex-direction: column;
      gap: 20px;
    }

    h1 {
      font-size: 50px;
      text-transform: uppercase;
      white-space:nowrap;

      @include sm{
        white-space: wrap;
        text-align: center;
      }
    }

    .ourService-top-right {
      display: flex;
      flex-direction: column;
      p {
        font-size: 20px;
        color: #585858;
        text-align: justify;
        
      }

      .read-more {
        display: flex;
        align-items: center;
        margin-top: 20px;
        text-transform: uppercase;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: #000;
        position: relative;
        overflow: hidden;
        align-self: flex-end;
        font-weight: 600;

        &:hover {
          color: $primary-color;
          .right-arrow {
            transform: translateX(5px);
          }

          &::after {
            width: 100%;
          }
        }

        .right-arrow {
          font-size: 25px;
          margin-left: 5px;
          transition: transform 0.3s ease-in-out;
        }
      }
    }
  }

  .ourService-bottom {
    .ourService-top-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 30px;

      @include xl {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
      }

      @include lg {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }

      @include md {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
      }

      @include sm {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
      .ourService-top-card {
        width: 270px;
        height: 360px;
        padding: 40px 50px;
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #dddddd;
        transition: all 0.4s ease-in-out;
        position: relative;
        overflow: hidden;
        background: #f5f5f5;

        @include xl {
          width: 100%;
          padding: 20px;
        }

        @include lg {
          margin: 0 auto;
          padding: 40px 50px;
          width: 270px;
        }

        @include md {
          width: 100%;
          padding: 20px;
        }

        @include sm {
          margin: 0 auto;
          padding: 40px 50px;

          width: 270px;
        }

        &:hover {
          border: 1px solid #989898;
          transform: scale(1.03);
          background: $primary-color;

          p {
            color: #fff;
          }

          h1 {
            color: #fff;
          }

          img {
            animation: bounce 0.8s ease-in-out;
          }

          .ourService-top-card-desc {
            p {
              color: #f5f5f5;
            }

            h5 {
              color: #fff;
            }
          }
        }

        img {
          width: 90px;
          transition: transform 0.3s ease-in-out;
        }

        .ourService-top-card-desc {
          p {
            font-size: 20px;
            margin-bottom: 10px;
            color: #585858;
            transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
          }

          h1 {
            font-size: 25px;
          }

          h5 {
            color: #fff;
            transition: color 0.3s ease-in-out;
          }
        }
      }

      @keyframes bounce {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
      }

      @keyframes border-glow {
        0% {
          opacity: 0.5;
          transform: scale(1);
        }
        50% {
          opacity: 1;
          transform: scale(1.05);
        }
        100% {
          opacity: 0.5;
          transform: scale(1);
        }
      }
    }
  }
}
