@import "../../styles/responsive.scss";

.ourPorfolio {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .ourPorfolio-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    h1 {
      font-size: 50px;

      .line-break {
        color: #ffa500;
      }
    }
    p {
      font-size: 25px;
    }
  }

  .ourPorfolio-cards {
    column-count: 2;
    column-gap: 150px;
    margin-top: 50px;

    @include md{
    column-count: 1;
      
    }

    .ourPorfolio-card {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      break-inside: avoid;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }

      h2 {
        margin-top: 30px;
      }
    }
  }

  button {
    background: #ffa500;
    color: #000;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in-out, transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
    text-transform: uppercase;
    border: 2px solid #ffa500;
    margin-top: 20px;
    &:hover {
      background-color: transparent;
      color: #fff;
      transform: translateY(-5px);
      border: 2px solid #ffa500;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300%;
        height: 300%;
        border-radius: 50%;
        transition: 0.4s ease;
        transform: translate(-50%, -50%);
      }
    }

    // Adding a bounce effect to give feedback when clicked
    &:active {
      animation: buttonBounce 0.2s ease-in-out;
    }

    @keyframes buttonBounce {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-5px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}
