@import "../../styles/responsive.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 70px;
  z-index: 1000;
  overflow: visible;
  transition: all 0.5s ease-in-out;

  &.navbar-visible {
    transform: translateY(0);
  }

  &.navbar-hidden {
    transform: translateY(-100%);
  }

  @include md {
    padding: 15px 40px;
  }

  @include sm {
    padding: 15px 20px;
  }

  // home nav bar
  &.home-class {
    .mobile-nav-menu {
      .social-burger {
        .nav-social {
          .nav-social-menu {
            span {
              background: #fff;
            }
          }
        }
      }
    }

    .nav-link {
      color: #fff !important;

      &.active-link {
        color: #fff !important;

        &::after {
          width: 100%;
          background: #fff !important;
        }
      }
    }

    .dropdown {
      .name-link {
        color: #fff !important;
      }
    }
  }

  // scrolled
  &.scrolled {
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    .mobile-nav-menu {
      .social-burger {
        .nav-social {
          .nav-social-menu {
            span {
              background: #000 !important;
            }
          }
        }
      }
    }

    &.home-class {
      background: rgba(0, 0, 0, 0.8);

      .mobile-nav-menu {
        .social-burger {
          .nav-social {
            .nav-social-menu {
              span {
                background: #fff !important;
              }
            }
          }
        }
      }

      .nav-link {
        color: #fff !important;

        &.active-link {
          color: #fff !important;

          &::after {
            width: 100%;
            background: #fff !important;
          }
        }
      }

      .dropdown {
        .name-link {
          color: #fff !important;
        }
      }
    }

    .nav-link {
      color: #585858 !important;

      &.active-link {
        color: #000 !important;

        &::after {
          width: 100%;
          background: #000 !important;
        }
      }
    }

    .dropdown {
      .name-link {
        color: #585858 !important;
      }
    }
  }

  /// mobile menu
  .mobile-nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;

    .social-burger {
      margin-right: 10px;

      .nav-social {
        position: relative;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 0;
        text-align: center;
        transition: all 0.5s ease-in-out;

        &:hover {
          .nav-social-menu {
            span {
              &:nth-child(3) {
                width: 42px;
              }
            }
          }
        }

        .nav-social-menu {
          display: flex;
          flex-direction: column;
          align-items: end;

          span {
            background: #000;
            display: block;
            color: #000;
            width: 42px;
            height: 1px;
            transition: all 0.5s ease-in-out;

            &:nth-child(3) {
              width: 16px;
            }

            &:not(:last-child) {
              margin-bottom: 6px;
            }
          }
        }
      }
    }

    .mobile-burger {
      margin-left: 10px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 30px;
        background-color: #585858;

        @media (min-width: 1025px) {
          display: none;
        }
      }
    }
  }

  .navbar-left {
    .logo img {
      width: 90px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .navbar-right {
    display: flex;
    gap: 30px;
    list-style: none;
    text-transform: uppercase;
    align-items: center;

    @include lg {
      display: none;
    }

    .nav-link {
      font-size: 16px;
      font-weight: 600;
      color: #585858;
      text-decoration: none;
      transition: color 0.3s ease;
      position: relative;
      padding: 25px 0px;
      flex: none;

      &.active-link {
        color: #000;

        &::after {
          width: 100%;
          background: #000;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 23px;
        width: 0%;
        left: 0;
        height: 1px;
        background: #000;
        transition: width 0.5s ease-in-out;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
    .dropdown {
      position: relative;
      cursor: pointer;

      .name-link {
        font-size: 16px;
        font-weight: 600;
        color: #585858;
        text-decoration: none;
        transition: color 0.3s ease;
        position: relative;
        padding: 25px 0px;
        display: flex;

        &:hover {
          &::after {
            width: 80%;
          }
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 23px;
          width: 0%;
          height: 1px;
          background: #000;
          transition: width 0.5s ease-in-out;
        }
      }

      .dropdown-icon {
        font-size: 18px;
        margin-left: 5px;
        transition: transform 0.7s ease;
        margin-top: 1px;
      }

      &:hover .dropdown-icon {
        transform: rotate(180deg);
      }

      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        width: 300px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        opacity: 0;
        padding: 10px;
        list-style: none;
        visibility: hidden;
        transform: translateX(20px);
        animation: slideInLeft 1s forwards;
      }

      @keyframes slideInLeft {
        0% {
          opacity: 0;
          transform: translateX(20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      &:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }

      .dropdown-item {
        display: block;
        padding: 10px;
        color: #000;
        text-decoration: none;
        transition: all 0.5s ease;

        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}

.nav-social-card {
  padding: 30px 60px;
  background: #fff;
  max-width: 400px;
  height: 100vh;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transform-origin: right center;

  &.active {
    visibility: visible;
    animation: slideInScale 0.3s ease-in-out forwards;
  }

  &.hidden {
    background: red !important;
    animation: slideOutScale 0.3s ease-in-out forwards;
  }

  @keyframes slideInScale {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes slideOutScale {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    99% {
      visibility: visible;
    }
    100% {
      transform: scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
  }

  @include sm {
    width: 100%;
    padding: 30px 20px;
  }

  &::-webkit-scrollbar {
    width: 6px;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  button {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .cross-icon {
      font-size: 50px;
    }
  }

  .nav-social-logo {
    margin: 70px 0px;
    img {
      width: 100px;
    }
  }

  .nav-social-desc {
    h6 {
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    .inside-insta-logo {
      margin-bottom: 20px;
      a {
        background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .insta-icon {
          color: #e4405f;
          font-size: 23px;
        }
      }
    }

    .insta-gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
      margin-bottom: 70px;

      img {
        width: auto;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        border-style: none;
      }
    }

    .nav-social-media {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .nav-social-media-item {
        display: flex;
        align-items: center;
        color: #585858;
        gap: 7px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        align-items: center;

        &.call-item {
          &:hover {
            color: #585858;

            .social-media-icon {
              color: #585858;
            }
          }
        }

        &:hover {
          color: $primary-color;

          .social-media-icon {
            border: 1px solid $primary-color;
          }
        }

        .social-media-icon {
          border: 1px solid #585858;
          border-radius: 50%;
          padding: 2px;
          font-size: 20px;
          transition: all 0.2s ease-in-out;
        }

        .social-media-icon-top {
          .social-media-icon-item {
            .whatsapp-link {
              margin-left: 10px;
              border-bottom: 1px solid #585858;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }

        span {
          font-size: 12px;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .nav-social-follow {
      h6 {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .nav-social-follow-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        cursor: pointer;

        .nav-social-follow-icon {
          background: rgba(221, 221, 221, 1);
          font-size: 40px;
          padding: 10px;
          margin: 0 5px;
          color: #fff;
          border-radius: 10px;

          &.facebook {
            background: linear-gradient(45deg, #1877f2, #4a90e2);
          }
          &.insta {
            background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
          }
          &.youtube {
            background: linear-gradient(45deg, #ff0000, #ff4c4c);
          }
          &.tiktok {
            background: linear-gradient(45deg, #000000, #00f2ea, #ff0050);
          }
        }
      }
    }
  }
}
