.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0px 100px;
  transition: all 0.5s;

  &.scrolled {
    background-color: #000;
  }

  .nav-left {
    .logo {
      img {
        width: 100px;
        height: 100%;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1); // Slight zoom effect on hover
        }
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;

    .contact-button {
      background: orange;
      padding: 10px 20px;
      font-weight: bold;
      border-radius: 3px;
      font-size: 15px;
      color: #000;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      border: 2px solid orange; 
      display: flex;
      align-items: center;

      .calender{
        margin-right: 5px;
      }

      &:hover {
        background: transparent;
        color: orange;
        border: 2px solid orange;
      }
    }

    .nav-link {
      font-size: 15px;
      color: #fff;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      position: relative;
      transition: color 0.3s ease;

      &:hover {
        color: #ffa500;

        &::after {
          width: 100%;
        }
      }

      &.active-link {
        color: #ff6600;
        border-bottom: 2px solid #ff6600;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: #ffa500;
        transition: width 0.3s ease;
      }

      &.active {
        color: #ffa500;

        &::after {
          width: 100%;
        }
      }
    }
  }
}
