@import "../../styles/responsive.scss";

.photoAlbums {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    text-transform: uppercase;

    @include sm {
      font-size: 40px;
    }
  }

  .photoAlbums-desc {
    margin: 20px 0px;
    font-size: 25px;
    text-align: center;
  }

  .photoAlbums-cards {
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 20px;
    .photoAlbums-slider {
      .swiper-button-next,
      .swiper-button-prev {
        color: #000;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .photoAlbums-card {
      position: relative;

      .photoAlbums-card-content {
        position: relative;

        img {
          width: 100%;
          display: block;
          border-radius: 10px;
          object-fit: contain;

          filter: brightness(0.6);
        }
        .photoAlbums-card-content-desc {
          position: absolute;
          bottom: 10%;
          left: 10%;
          opacity: 0;
          transform: translateY(20px);
          transition: opacity 0.5s ease-out, transform 0.5s ease-out;
          color: #fff;
          cursor: pointer;

          h3 {
            font-size: 25px;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $primary-color;
            }
          }

          p {
            font-size: 18px;
          }
        }

        .swiper-slide-active .photoAlbums-card-content-desc {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
