@import "../../styles/responsive.scss";

.photoAlbums {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;

  h1 {
    font-size: 50px;
    text-transform: uppercase;

    @include sm {
      font-size: 40px;
      text-align: center;
    }
  }

  .photoAlbums-desc {
    margin: 20px 0px;
    font-size: 25px;
    text-align: center;
  }

  .photoAlbums-cards {
    width: 100%;
    max-width: 1400px;
    position: relative;
    overflow: visible;

    .photoAlbums-slider {
      position: relative;

      .swiper-button-next,
      .swiper-button-prev {
        color: #000;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .photoAlbums-card {
      position: relative;

      .photoAlbums-card-content {
        position: relative;
        width: 100%;

        img {
          width: 100%;
          height: 500px;
          display: block;
          object-fit: cover;

          @include md {
            height: 300px;
          }

          @include sm {
            height: 300px;
          }
        }

        .photoAlbums-card-content-desc {
          position: absolute;
          bottom: 20%;
          left: 10%;
          transform: translateY(20px);
          transition: opacity 0.5s ease-out, transform 0.5s ease-out;
          color: #fff;
          cursor: pointer;
          opacity: 0;

          transform: translateY(100px);
          transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);

          &.animate {
            .photoAlbums-card-content-desc {
              opacity: 1;
              transform: translateX(0);
            }
          }

          h3 {
            font-size: 25px;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;

            @include sm {
              font-size: 22px;
            }

            &:hover {
              color: $primary-color;
            }
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}

/* Active slide's content description */
.photoAlbums .swiper-slide-active .photoAlbums-card-content-desc {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* Swiper slide transformations */
.photoAlbums .swiper-slide {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(0.85);
}

.photoAlbums .swiper-slide-active {
  transform: scale(1);
  z-index: 10;
  position: relative;
}

/* Adjust prev/next slide transformations */
.photoAlbums .swiper-slide-next,
.photoAlbums .swiper-slide-prev {
  transform: scale(0.85) !important;
}

/* Adjust slide container to allow shadow to overflow */
.photoAlbums-cards {
  position: relative;
  max-width: 100%;
  overflow: visible !important;
}

/* Image styling */
.photoAlbums-card-content img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

/* Navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 500;
}

.swiper-button-prev {
  left: 20%;

  @include lg {
    left: 0;
  }
}

.swiper-button-next {
  right: 20%;

  @include lg {
    right: 0;
  }
}

.album-swiper {
  .swiper-wrapper {
    // padding-top: 50px;
    // padding-bottom: 80px;

    @include sm {
      // padding-top: 20px;
      // padding-bottom: 20px;
    }
  }
}

/* Ensure proper scaling for swiper slides */
.swiper-slide {
  overflow: visible !important;
  display: flex;
  justify-content: center;
}
