@import "../../styles/responsive.scss";

.homepage {
  display: flex;
  flex-direction: column;
  gap: 100px;

  .homepage-container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 0px 20px;
  }

  .bottom-ring-line{
    padding: 0px 20px;
  }
}
