@import "../../styles/responsive.scss";

.clientReview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .clientReview-img {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 600px;
      object-fit: cover;
      width: 100%;
    }

    .clientReview-card {
      width: 90%;
      max-width: 700px;
      background: #1e1e1e;
      padding: 40px;
      border-radius: 15px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      position: absolute;
      left: 30%;
      top: 50%;
      transform: translate(-50%, -50%); // Centers the card
      padding: 20px;
      margin: 0px auto;

      @include xl {
        left: 50%;
      }

      .clientReview-card-desc {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .clientReview-card-top {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .clientReview-card-stars {
            display: flex;
            gap: 5px;

            .star {
              color: $primary-color;
              font-size: 20px;
            }
          }

          .clientReview-card-quotes {
            .quotes {
              color: #3c3c3c;
              font-size: 80px;
            }
          }
        }

        .reviews {
          font-size: 18px;
          line-height: 30px;
          color: #ddd;
          text-align: center;
        }

        .line {
          height: 1px;
          width: 50%;
          margin: 0 auto;
          border-radius: 2px;
          background-color: #3c3c3c;
          border: none;
          width: 100%;
        }

        .review-name {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          margin-bottom: 30px;

          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }

          .review-name-desc {
            p {
              &:first-child {
                font-size: 18px;
                font-weight: bold;
                color: #fff;
              }

              &:last-child {
                font-size: 14px;
                color: #dddddd;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}

/* Swiper Pagination Custom Styling */
.swiper-pagination-bullet {
  background: #fff;
  width: 12px;
  height: 12px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: $primary-color;
  width: 15px;
  height: 15px;
}
